{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Py_game</title>
    <script type="text/javascript" src="/static/js/page_animation.js?ver=1"></script>
</head>
<body>
    <img src="http://127.0.0.1:8000/web_cam/" alt="" id="web-cam" width="1280px", height="700px"> 

    <canvas id = "main-image"  width="1280px" height="700px"></canvas>
    <canvas id="cam-image" width="1280px" height="700px"></canvas>
</body>
</html>