{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Py_game</title>
    <script async src="https://docs.opencv.org/3.4/opencv.js"></script>
    <script type="module" src="/static/js/page_animation.js?ver=1"></script>
</head>
<body>
    <video id="video"></video>
    <canvas id="cam-image" width="1280px" height="700px"></canvas>
</body>
</html>